<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Sizer.Properties.Settings>
            <setting name="delay" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="sizePreset" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>1920x1080</string>
                        <string>1366x768</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="position" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sizeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="startX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="startY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="positionPreset" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>555,0</string>
                        <string>555,769</string>
                        <string>1921,0</string>
                        <string>1921,1041</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="positionIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </Sizer.Properties.Settings>
    </userSettings>
</configuration>